mixin button(label, isBig, type)
    if isBig
        +b.button_big._contained=label
    else if type === 'contained'
        +b.button_contained=label
    else if type === 'outlined'
        +b.button_outlined=label
    else if type === 'default'
        +b.button_default=label