mixin property(icon, label, description)
    +b.property
        +e.IMG(src=`../../../img/icons/${icon}.svg`)
        +e.info
            +e.LABEL.label=label
            +e.SPAN.description.body=description