include ../../text-field/text-field
include ../../button/button

+b.login
    .h1 Войти
    +text-field(null, 'Email')
    +text-field(null, 'Пароль')
    +button('Войти', true, 'contained')
    +e.footer
        +e.SPAN.notice Нет аккаунта на TOXIN?
        +button('Создать', false, 'outlined')