include ../../text-field/text-field
include ../../text-field/masked/text-field
include ../../switch/switch
include ../../button/button
include ../../radio/radio

+b.registration
    +e.SPAN.title.h1="Регистрация аккаунта"
    +text-field(null, 'Имя')
    +text-field(null, 'Фамилия')
    +e.choice
        +radio('Мужчина')
        +radio('Женщина')
    +masked-text-field('Дата рождения')
    .h3 Данные для входа в сервис
    +text-field(null, 'Email')
    +text-field(null, 'Пароль')
    +switch('Получать спецпредложения')
    +button('Зарегистрироваться', true, 'contained')
    +e.footer
        +e.SPAN.notice Уже есть аккаунт на Toxin
        +button('Войти', false, 'outlined')