include /src/views/libs/bemto/bemto

mixin rating()
    +b.rating(data-total-value="3")
        +e.star(data-item-value="5")
        +e.star(data-item-value="4")
        +e.star(data-item-value="3")
        +e.star(data-item-value="2")
        +e.star(data-item-value="1")