include ../../libs/bemto/bemto

include ../like/like

mixin comment(name, time, text)
    +b.comment
        +e.IMG(src="./img/avatars/avatar.png").logo
        +e.info
            +e.name=name
            +e.time=time
        +like('12')(class='comment__likes')
        +e.text.body=text

mixin comment-list(title, comments)
    +b.comment-list
        .h2=title
        for comment in comments
            +comment(comment.name, comment.time, comment.text)