@import './*';
@import '../views/**/*.less';
@import (less) './normalise.css';
@import (less) './swiper.min.css';
@import (less) './datepicker.min.css';

html {
  font-size: 10px;
  font-family: 'Montserrat', serif;

  @media (min-width: 1872px) {
    font-size: 13px;
  }

  @media (min-width: 1728px) {
    font-size: 12px;
  }

  @media (min-width: 1584px) {
    font-size: 11px;
  }

  @media (max-width: 1370px) {
    font-size: 9px;
  }

  @media (max-width: 1235px) {
    font-size: 8px;
  }

  @media (max-width: 1110px) {
    font-size: 7px;
  }

  @media (max-width: 864px) {
    font-size: 6px;
  }
}

input {
  font-family: 'Montserrat', serif;
}

* {
  box-sizing: border-box;
}

.h1, .h2 {
  ._h();
  color: @dark-shade-100;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.h1 {
  font-size: 2.4rem;
  line-height: 3rem;
}

.h2 {
  font-size: 1.9rem;
}

.h3, .body {
  font-family: 'Montserrat', serif;
}

.h3 {
  ._h3();
  color: @dark-shade-100;
  margin-bottom: .5rem;

  &-cta {
    ._h3();
  }
}

.body {
  display: inline;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: @dark-shade-75;
}

ul {
  margin: 0;
}

.container {
  padding: 0 14rem;
  .flex();
}

a {
  display: block;
  text-decoration: none;
}