@import './*';
@import '../views/**/*.less';
@import (less) './normalise.css';
@import (less) './swiper.min.css';

html {
  font-size: 10px;
  font-family: 'Montserrat', serif;
}

input {
  font-family: 'Montserrat', serif;
}

* {
  box-sizing: border-box;
}

.h1, .h2 {
  ._h();
  color: @dark-shade-100;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 2rem;
}

.h1 {
  font-size: 2.4rem;
}

.h2 {
  font-size: 1.9rem;
}

.h3, .body {
  font-family: 'Montserrat', serif;
}

.h3 {
  ._h3();
  color: @dark-shade-100;
  margin-bottom: .5rem;

  &-cta {
    ._h3();
  }
}

.body {
  display: inline;
  font-size: 1.4rem;
  color: @dark-shade-75;
}