include /src/views/libs/bemto/bemto

mixin text-field(text, placeholder)
    +b.text-field
        if text
            +e.label.h3-cta=text
        +e.INPUT(type="text", placeholder=placeholder).input