.room {
  .card(@padding: 0);
  font-size: 1.4rem;

  > img {
    width: 100%;
  }

  &__info {
    padding: 7.4% 6.5%;
  }

  &__header {
    border-bottom: 1px solid @dark-shade-10;
    padding-bottom: 1rem;
  }

  &__footer {
    padding-top: 1rem;
    .flex(@justify: space-between, @align: center);
  }

  &__header {
    .flex(@justify: space-between, @align: flex-end);
  }

  &__number {
    margin-right: .4rem;
    font-weight: 700;
    color: @dark-shade-100;
    font-size: 1.8rem;

    &:before {
      content: '№';
      font-size: 1.3rem;
      margin-right: .5rem;
    }
  }

  &__type {
    color: @purple;
    font-weight: 700;
  }

  &__price > span:last-child {
    font-size: 1.2rem;
  }

  &__price, &__feedback {
    color: @dark-shade-50;
    > span:first-child {
      margin-right: .5rem;
      font-weight: 700;
    }
  }
}