include /src/views/libs/bemto/bemto

include ../counter/counter

mixin dropdown(label, title, items, accept, decline)
    +b.dropdown
        +e.label.h3=label
        +e.select
            +e.SPAN.body.body=title
            +e.expand
        +e.options
            each item in items
                +e.option
                    +e.option-name=item
                    +counter()
            if accept || decline
                +e.actions
                    if accept
                        +button('Применить', false, 'default')
                    if decline
                        +e.decline
                            +button('Очистить', false, 'default', 'gray')