.room-info {
  &__images {
    display: grid;
    grid-template-columns: 68% 32%;
    grid-template-areas:
    "main secondary"
    "main thirdly";
  }

  &__image {
    width: 100%;
    &_main {
      grid-area: main;
      height: 100%;
    }
    &_secondary {
      grid-area: secondary;
    }
    &_thirdly {
      grid-area: thirdly;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
    "room-info statistics"
    "comment-list comment-list"
    "rules feature";
    grid-gap: 2.1rem 7.5rem;
  }

  &__room-info {
    grid-area: room-info;
  }

  &__statistic {
    .flex(@align: flex-end);
    grid-area: statistics;

    > img {
      margin-right: 3rem;
      .square(12rem);
    }

    > .bullet-list {
      grid-area: rules;
      margin-left: .5rem;
      margin-bottom: -.3rem;
      > * {
        margin-bottom: 0;
      }
    }
  }

  &__feedback {
    > .h2 {
      margin-bottom: 2rem;
    }
  }

  & .comment-list {
    grid-area: comment-list;
    margin-bottom: 1rem;
  }

  &__feature {
    grid-area: feature;
  }

  > .container {
    padding-top: 7rem;
    padding-bottom: 7rem;

    > .book-room {
      margin-left: 7rem;
    }
  }
}