include ../../../dropdown/dropdown
include ../../../button/button

+b.find-room
    .h1 Найдём номера под ваши пожелания
    +e.choice
        +dropdown('Прибытие', 'ДД.ММ.ГГГГ', [], true, false)
        +dropdown('Выезд', 'ДД.ММ.ГГГГ', [], true, false)
    +dropdown('Гости', 'Сколько гостей', [], true, true)
    +button('Подобрать номер', true, 'contained')