.find-room {
  .card(@padding: 4rem 3rem 3rem 3rem);
  .flex(@direction: column, @justify: space-between);
  max-width: 38rem;
  background-color: white;

  > .range-date-picker {
    .flex(@justify: space-between);
    margin-bottom: 2rem;
    width: 100%;

    > *:first-child {
      margin-right: 2rem;
    }
  }

  > a {
    width: 100%;
    margin-top: 3rem;
  }
}