include ../../../../libs/bemto/bemto

include ../../../dropdown/dropdown
include ../../../button/button

+b.find-room
    .h1 Найдём номера под ваши пожелания
    +range-datepicker('Въезд', 'Выезд')
    +dropdown('Гости', 'Сколько гостей', [], true, true)
    a(href="./pages/search-room/search-room.html")
        +button('Подобрать номер', true, 'contained')
