include /src/views/libs/bemto/bemto

mixin sub-text-field(text, placeholder)
    +b.text-field
        +e.label.h3=text
        +e.input-wrapper
            +e.INPUT(type="text", placeholder=placeholder).input
            +e.arrow