include ../../libs/bemto/bemto
include ../button/button

+b.header
    a(href="./index.html")
        +b.IMG(src="./img/icons/logo.svg").logo
    nav
        ul
            li
                a О нас
            li
                a Услуги
            li
                a Вакансии
            li
                a Новости
            li
                a Соглашения
            li
                a(href="./pages/login/login.html")
                    +button('Войти', false, 'outlined')
            li
                a(href="./pages/registration/registration.html")
                    +button('Зарегистрироваться', false, 'contained')