include ../../libs/bemto/bemto

mixin bullet(label, color)
    - var className = `${color ? `_${color}` : ''}`;
    +b.bullet(class=className)
        +e.SPAN.label.body=label

mixin bullet-list(title, bullets)
    +b.bullet-list
        .h2=title
        if typeof(bullets[0]) === 'object'
            for bullet in bullets
                +bullet(bullet.label, bullet.color)
        else
            for bullet in bullets
                +bullet(bullet)