.footer {
  width: 100%;
  padding: 10rem 14rem 23rem 14rem;
  font-size: 1.4rem;
  box-shadow: 0 10px 20px @dark-shade-5;
  .flex(@justify: space-between);

  &__column {
    .flex(@direction: column);

    &:first-child {
      max-width: 26rem;
    }

    > .footer__title {
      margin-bottom: 2rem;
    }

    > .logo {
      margin-bottom: 2rem;
    }
  }

  &__item {
    color: @dark-shade-50;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sub-footer {
  border-top: 1px solid @dark-shade-25;
  padding: 2.6rem 14rem;
  box-shadow: 0 10px 20px @dark-shade-5;
  .flex(@justify: space-between, @align: center);

  &__media {
    .flex();

    > img {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}