mixin rich-checkbox(label, description)
    +b.checkbox-field_rich
        +e.LABEL.label
            input(type="checkbox")
            +e.SPAN.input
            +e.title.h3-cta=label
            +e.description.body=description