include ../../libs/bemto/bemto

mixin pagination(label, description)
    +b.pagination
        if label
            +e.SPAN.label.h3=label
        +e.items
            +e.item 1
            +e.item 2
            +e.item 3
            +e.item ...
            +e.item 15
            +e.item
        +e.SPAN.description=description